*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
}

.container{
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

.ArticleHeading{
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.ArticleHeading:hover{
    color: white;
    background-color: black;
    transform : scale(1.1);
}

.Article{
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
    margin: 30px;
}


img{
    height: 300px;
    width: 500px;
    margin: 10px;
    padding: 20px;
}

img:hover{
    transform : scale(1.1);
}

.heading{
    font-size: 20px;
    font-weight: bold;
}


.Webs{
    width: 100%;
    border: 2px solid white;
    border-radius: 15px;
}

.WebsHeading {
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
}

.WebsHeading:hover{
    color: orange;
    background-color: white;
    border: 3px solid black;
    transform: scale(1.1);
}

.content{
    margin: 10px;

}

a{
    text-decoration: none;
}

.btn{
    border: 2px solid rgb(32, 243, 208);
    border-radius: 10px;
    padding: 10px;
    margin-top : 5px;
    margin-bottom : 5px;
}

.btn:hover{
    color: orange;
    background-color: white;
    padding: 15px;
    font-size: 18px;
}


.credit{
    text-align: right;
    font-style: italic;
    font-size: 24px;
    color: rgb(26, 132, 213);

}

ul{
    list-style: none;
    margin: 10px;
}

.links{
    display: inline;

}

.links a{
    margin-left:100px;
    margin-right: 50px;
}

.btn-2{
    background-color: rgb(81, 232, 112);
}

.btn-2:hover{
    background-color: aquamarine;
}